@page
@model BookStore.Pages.Admin.Products.Category.IndexModel
@{
    ViewData["Title"] = "Admin - Danh sách thể loại";
}

@section Styles {
    <link href="@Url.Content("~/admin/css/admin.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/admin/css/admin-roles.css")" rel="stylesheet" type="text/css" />
}


<div class="row mt-3">
    <div class="col-md-12">
        <partial name="_StatusMessage" for="StatusMessage" />
        <div class="mb-3">
            @{
                string linkCurrent = Url.RouteUrl(ViewContext.RouteData.Values);
                var e = linkCurrent.Split("/");
                var l = "";
                foreach (var i in e)
                {
                    if (i != "")
                    {
                        l += @i + "/";
                        <a class="Breadcrumb" href="/@l">/@i</a>
                    }
                }
            }
        </div>


        <div class="row">
            <a class="btn btn-secondary ms-lg-2 col-2 align-items-lg-end mb-3" asp-page="./NewCategory">Tạo thể loại</a>
        </div>

        <div class="col-10">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Danh sách thể loại
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Hình ảnh</th>
                                <th>Tên thể loại</th>
                                <th>Miêu tả</th>
                                <th>Tác vụ</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Hình ảnh</th>
                                <th>Tên thể loại</th>
                                <th>Miêu tả</th>
                                <th>Tác vụ</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var category in Model.categories)
                            {
                                <tr>
                                    <td>
                                        @if(category.Picture == null)
                                        {
                                            <img style="max-width: 100px; /* Kích thước tối đa của ảnh */
                                                        max-height: 100px;
                                                        width: auto;
                                                        height: auto;" src="/image/null.png" />
                                        }else
                                        {
                                            <img style="max-width: 100px; /* Kích thước tối đa của ảnh */
                                            max-height: 100px;
                                            width: auto;
                                            height: auto;" src="/uploads/@category.Picture" />
                                        }
                                   
                                    </td>
                                    <td>@category.CategoryName</td>
                                    <td>@category.Description</td>
                                    <td class="text-center">
                                        <div class="d-flex">
                                            <a class="btn btn-primary ms-lg-2 align-items-lg-end" asp-page="./UpdateCategory" asp-route-cid="@category.CategoryId">Chỉnh sửa</a>

                                            <form method="post">
                                                <input type="hidden" name="cid" value="@category.CategoryId">
                                                <button type="submit" onclick="return confirm('Bạn có muốn xóa thể loại @category.CategoryId ');" class="ms-lg-2 btn btn-danger">Xóa</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>