@page
@model BookStore.Pages.Admin.Products.Supplier.IndexModel
@{
    ViewData["Title"] = "Admin - Danh sách đơn vị cung cấp";
}

@section Styles {
    <link href="@Url.Content("~/admin/css/admin.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/admin/css/admin-roles.css")" rel="stylesheet" type="text/css" />
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row mt-3">
    <div class="col-md-12">
        <div class="mb-3">
            @{
                string linkCurrent = Url.RouteUrl(ViewContext.RouteData.Values);
                var e = linkCurrent.Split("/");
                var l = "";
                foreach (var i in e)
                {
                    if (i != "")
                    {
                        l += @i + "/";
                        <a class="Breadcrumb" href="/@l">/@i</a>
                    }
                }
            }
        </div>


        <div class="row">
            <a class="btn btn-secondary ms-lg-2 col-2 align-items-lg-end mb-3" asp-page="./NewSupplier">Tạo nhà cung cấp</a>
        </div>

        <div class="col-10">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Danh sách thể loại
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Tên công ty</th>
                                <th>Tên hợp đồng</th>
                                <th>Địa chỉ</th>
                                <th>Tên nước</th>
                                <th>Số điện thoại</th>
                                <th>Tác vụ</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Tên công ty</th>
                                <th>Tên hợp đồng</th>
                                <th>Địa chỉ</th>
                                <th>Tên nước</th>
                                <th>Số điện thoại</th>
                                <th>Tác vụ</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var supplier in Model.Suppliers)
                            {
                                <tr>
                                    <td>@supplier.CompanyName</td>
                                    <td>@supplier.ContactName</td>
                                    <td>@supplier.Address</td>
                                    <td>@supplier.Country</td>
                                    <td>@supplier.Phone</td>
                                    <td class="text-center">
                                        <div class="d-flex">
                                            <a class="btn btn-primary ms-lg-2 align-items-lg-end" asp-page="./UpdateSupplier" asp-route-sid="@supplier.SupplierId">Chỉnh sửa</a>

                                            <form method="post">
                                                <input type="hidden" name="sid" value="@supplier.SupplierId">
                                                <button type="submit" onclick="return confirm('Bạn có muốn xóa thể loại @supplier.SupplierId ');" class="ms-lg-2 btn btn-danger">Xóa</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
