@page
@model BookStore.Pages.Admin.Orders.UpdateOrderModel
@{
    ViewData["Title"] = "Admin - Chỉnh sửa đơn đặt hàng";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

@section Styles {
    <link href="@Url.Content("~/admin/css/admin.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/admin/css/admin-roles.css")" rel="stylesheet" type="text/css" />
}

<partial name="_StatusMessage" for="StatusMessage"/>

<div class="row mt-3">
    <div class="col-md-12">
        <div class="mb-3">
            @{
                string linkCurrent = Url.RouteUrl(ViewContext.RouteData.Values);
                var e = linkCurrent.Split("/");
                var l = "";
                foreach (var i in e)
                {
                    if (i != "")
                    {
                        l += @i + "/";
                        <a class="Breadcrumb" href="/@l">/@i</a>
                    }
                }
            }
        </div>

        <div class="row d-flex">
            <div class="col-6">
                <form method="post" enctype="multipart/form-data">

                    <h5>Chỉnh sửa đơn hàng:</h5>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.OrderId" disabled class="form-control" aria-required="true" />
                        <label asp-for="Input.OrderId" class="form-label"></label>
                        <span asp-validation-for="Input.OrderId" class="text-danger"></span>
                    </div>

                    <input asp-for="Input.UserId" hidden class="form-control" aria-required="true" />

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" disabled class="form-control" aria-required="true" />
                        <label asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.OrderDate" disabled class="form-control" aria-required="true" />
                        <label asp-for="Input.OrderDate" class="form-label"></label>
                        <span asp-validation-for="Input.OrderDate" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.RequiredDate" class="form-control" aria-required="true" />
                        <label asp-for="Input.RequiredDate" class="form-label"></label>
                        <span asp-validation-for="Input.RequiredDate" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.ShippedDate" class="form-control" aria-required="true" />
                        <label asp-for="Input.ShippedDate" class="form-label"></label>
                        <span asp-validation-for="Input.ShippedDate" class="text-danger"></span>
                    </div>

                    <div class="col-5">
                        <label>Thể loại:</label>
                        <select class="form-control selectShipper" asp-for="Input.ShipVia">
                            @foreach (var shipper in Model.Shippers)
                            {
                                <option value="@shipper.ShipperId">@shipper.CompanyName</option>
                            }
                        </select>
                    </div>

                    <div class="form-floating mb-3 mt-3">
                        <input asp-for="Input.Freight" disabled class="form-control" aria-required="true" />
                        <label asp-for="Input.Freight" class="form-label"></label>
                        <span asp-validation-for="Input.Freight" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3 mt-3">
                        <input asp-for="Input.ShipName" class="form-control" aria-required="true" />
                        <label asp-for="Input.ShipName" class="form-label"></label>
                        <span asp-validation-for="Input.ShipName" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.ShipAddress" class="form-control" aria-required="true" />
                        <label asp-for="Input.ShipAddress" class="form-label"></label>
                        <span asp-validation-for="Input.ShipAddress" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.ShipCity" class="form-control" aria-required="true" />
                        <label asp-for="Input.ShipCity" class="form-label"></label>
                        <span asp-validation-for="Input.ShipCity" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.ShipRegion" class="form-control" aria-required="true" />
                        <label asp-for="Input.ShipRegion" class="form-label"></label>
                        <span asp-validation-for="Input.ShipRegion" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.ShipPostalCode" class="form-control" aria-required="true" />
                        <label asp-for="Input.ShipPostalCode" class="form-label"></label>
                        <span asp-validation-for="Input.ShipPostalCode" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.ShipCountry" class="form-control" aria-required="true" />
                        <label asp-for="Input.ShipCountry" class="form-label"></label>
                        <span asp-validation-for="Input.ShipCountry" class="text-danger"></span>
                    </div>

                    <div class="col-2">
                        <label asp-for="Input.Status" class="form-label"></label>
                        <select class="form-control selectSupplier" asp-for="Input.Status">
                            <option value="Xử lý">Xử lý</option>
                            <option value="Đang giao">Đang giao</option>
                            <option value="Đã giao">Đã giao</option>
                            <option value="Đã hủy">Đã hủy</option>
                        </select>
                        <span asp-validation-for="Input.Status" class="text-danger"></span>
                    </div>

                    <hr />
                    <input type="submit" class="btn btn-info" value="Chỉnh sửa" />
                </form>
            </div>
            

            <div class="col-6">
                <h5>Các sản phẩm đã đặt:</h5>
                <table id="table" style="width:100%; border:1px;">
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Giảm giá</th>
                    </tr>
                    @foreach (var od in Model.Order.OrderDetails)
                    {
                        <tr>
                            <td>@od.ProductId</td>
                            <td>@String.Format("{0:#,##0}",@od.UnitPrice) VNĐ</td>
                            <td>@od.Quantity</td>
                            <td>@od.Discount</td>
                        </tr>
                    }
                </table>

            </div>
        </div>
    </div>
</div>
<script>
    $('.selectShipper').select2();
</script>